#stream-container .stream-image img {
  height: auto;
  display: block;
  max-width:100%;
  margin: 0 auto;
  width: unset;
}

#stream-container .stream-image {
  max-width: 1200px;
  margin: 0 auto;
}
