#stream-container .stream-description {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
#stream-container.small-pc.tablet.mobile .stream-description {
  text-align: var(--textalignmobile) !important;
}