<style>
    #stream-container,#stream-container *{padding:0;margin:0;-webkit-box-sizing:border-box;box-sizing:border-box; -webkit-text-size-adjust: none;}
	{{styles}}
</style>
<div id="stream-container" class="stream-ar">
	{% set id = 1 %}
	{% for comp in components %}
		{% include "collections/#{comp.component}/#{comp.component}.twig" with {'prop': comp.props, 'id': id } %}
		{% set id = id + 1 %}
	{% endfor %}
</div>
