 <div class="stream-youtube__video" id="item-{{ id }}"  style="background: {{ prop.background}};">
	<div class="stream-youtube__video__inner">
		<iframe src="https://www.youtube.com/embed/{{prop.youtubeID}}?enablejsapi=1&rel=0&autoplay=0" frameborder="0"  style="border-radius: {{ prop.borderRadius}}px;"></iframe>
	</div>
 </div>